.vscode/**
.vscode-test/**
out/test/**
node_modules/**
scripts/**
.gitignore
tsconfig.json
.eslintrc.json
.eslint.config.js
.prettierrc
CHANGELOG.md
**/*.ts
**/*.ts.map
**/*.d.ts
**/*.d.ts.map
src/**
!out/**
!server/**
mtpreporter/.bundle-stamp
